body {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color:lightgray;
}

tr:nth-child(odd) {
    background-color: papayawhip;
}

.divSize {
    height: 3em;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}